.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 120px; /* adjust if you have WhatsApp button */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color:red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #555;
  transform: scale(1.1);
}